{% extends "base.html" %} {% block title %}Profile{% endblock title%}

<!-- Main page stuff -->
{% block content %}


<div>
  <h2>Welcome, {{user.username}}</h2>
  <div>
    {% if itemloans.count %}
      <!-- Only display items when there are items to display -->
      <table>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Publisher</th>
          <th>Returned</th>
          <th>Days left</th>
          <th>Manage</th>
        </tr>
        {% for itemloan in itemloans %}
        <tr>
          <td>{{itemloan.item.title}}</td>
          <td>{{itemloan.item.author}}</td>
          <td>{{itemloan.item.publisher}}</td>
          <td>{% if itemloan.returned_timestamp == NULL  %} False  {% else %} True {% endif %} </td>
          <td>{{itemloan.daysLeft}}</td>
          <td> <a href="{% url "user_app:return_item" itemloan.item.item_type itemloan.item.id %}">Return</a> </td>
        </tr>
        {% endfor %}
      </table>
    {% else %}
      <!--No items available, show message -->
      <p>No items available.</p>
    {% endif %}
  </div>
</div>
{% endblock content%}
