<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="stylesheet" href="{% static "global/styles.css" %}">

    <title>
      {% block title %} <!-- Text inserted from another template--> {% endblock title %} - Library
    </title>
  </head>
  <body>
    <header>
      <p>Library System</p>
      <nav>
        <ul>
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'library_app:index' %}">Home</a></li>
            <li><a href="{% url 'user_app:profile' %}">Profile</a></li>
            <li><a href="{% url 'user_app:logout' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'user_app:login' %}">Login</a></li>
          {% endif %}
          {% if request.user.is_staff %}  
            <li><a href="{% url 'user_app:administrator' %}">Administrator</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <hr />

    <main>
      {% block content %}
      <!-- START main body parts go here -->
      <!-- HTML inserted from another template -->
      <!-- END main body parts go here -->
      {% endblock content%}
    </main>

    <hr />
    <footer>
      <p>C 2020</p>
    </footer>
  </body>
</html>
